/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: blue;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar img
{
    height:35px;
    width:35px;
    margin-top: 5px;
    margin-left: 5px;
}

.parallax { 
    /* The image used */
    background-image: url("img/cover1.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-content {
    padding: 10px 20px;
    margin: 0 auto;
    vertical-align:middle;
    text-align:center;
    height: 400px;
}

.parallax-content p{
    margin-top:30vh;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 1px 0 #424242, 0 0 5px #424242;
    font-family: Roboto-Bold, sans-serif;
}

.parallax-content input
{
    margin-top:10vh;
    height:8vh;
    width:80vw;
    border-radius:10px;
}


.item1
{
    display:flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 20px;
}
.item1 button
{
    margin-top: 18px;
    height:30px;
    width:80px;
    background-color: blue;
}

.container1, .container2
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container1 img
{
    height: 30vh;
    width: 80vw;
    align-content: center;
}

.container2 img
{
    height: 30vh;
    width: 80vw;
    align-content: center;
}


.container1 h2, .container2 h2
{
text-align: center;
}

.container1 h2 a, .container2 h2 a
{
text-decoration: none;
color: black;
}
.product1, .product2 ,.product3
{
    align-content: center;
}

.foot
{
    display:flex;
    flex-direction: column;
    background:blue;
    justify-content: space-between;
}
.foot .foot1
{
    text-align:center;
}



@media(min-width: 640px)
{
    .container1, .container2
    {
        flex-direction: row;
        justify-content: space-around;
    }

    .container1 img
    {
        height:40vh;
        width:30vw;
    }

    .container2 img
{
       height:35vh;
       width:20vw;
}

.foot
{
    flex-direction: row;
}
}